Source: ros-melodic-volta-simulation
Section: misc
Priority: optional
Maintainer: Nikhil Venkatesh <nikhil@botsync.co>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-roslaunch
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-volta-simulation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-controller-manager, ros-melodic-gazebo-plugins, ros-melodic-gazebo-ros, ros-melodic-gazebo-ros-control, ros-melodic-hector-gazebo-plugins, ros-melodic-rostopic, ros-melodic-volta-control, ros-melodic-volta-description
Description: The volta_simulation package
